<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0,5</key>
	<string>MountainLake_1</string>
	<key>1,6</key>
	<string>sunset_ocean</string>
	<key>2,7</key>
	<string>sky_field</string>
	<key>3,8</key>
	<string>Rainbow-09</string>
	<key>4,9</key>
	<string>ocean_sunrise</string>
</dict>
</plist>
