<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0,5</key>
	<string>rainbow</string>
	<key>1,6</key>
	<string>two_birds_flying</string>
	<key>2,7</key>
	<string>MountainLake_1</string>
	<key>3,8</key>
	<string>sunrise</string>
	<key>4,9</key>
	<string>clouds_water</string>
</dict>
</plist>
