<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>0</key>
	<string>I am in full control of my mind, attitude and thoughts.
    </string>
	<key>1</key>
	<string>If you can not fly, run, if can&apos;t run, walk, if an&apos;t walk, crawl, but keep on what you aredoing.</string>
	<key>2</key>
	<string>Keep faith in God. Be positive. Everything will come out right.</string>
	<key>3</key>
	<string>I will make today,tomorrow I am proud of.</string>
	<key>4</key>
	<string>Today I will be happy and cheerful.</string>
	<key>5</key>
	<string>I do not crticize anyone, not advise anyone.</string>
	<key>6</key>
	<string>I am responsible.</string>
	<key>7</key>
	<string>I am hard working and persistent.
        </string>
	<key>8</key>
	<string>I am in full control of my mind, attitude and thoughts.
        </string>
    <key>9</key>
	<string>I am in full control of my mind, attitude and thoughts.
    </string>
</dict>
</plist>
